<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    @Html.SeoTitle()
    @Html.SeoMetaRobotsIndex()
    @Html.SeoLinkCanonical()
    @Html.SeoMetaDescription()
    @Html.SeoMetaKeywords()
</head>
<body>
@RenderBody()

<p>
    <a href="@Url.Content("~/")">Back to start</a>
</p>
</body>
</html>